@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;800&family=Kanit:wght@800&display=swap');
:root {
  --font-base: 16px;
  --color-accent: #d95d39;
  --color-bg: #dce2bd;
  --color-text: #484041;
  --color-link: #426a5a;
  --color-flower: #edae49;
  --color-leaf: #4c956c;
  --border-base: 6px;
  --radius-base: var(--border-base);
  --transition-base: 0.5s;
  --unit-base: 1rem;
  --weight-reg: 400;
  --weight-bold: 900;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  font-size: var(--font-base);
  height: 100%;
  width: 100%;
}
body {
  align-items: center;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: var(--unit-base);
}
a {
  cursor: pointer;
  color: var(--color-link);
  text-decoration: none;
  transition: var(--transition-base);
  -webkit-transition: var(--transition-base);
  -o-transition: var(--transition-base);
}
a:hover {
  color: var(--color-text);
  transition: var(--transition-base);
  -webkit-transition: var(--transition-base);
  -o-transition: var(--transition-base);
}
.wrapper {
  max-width: 420px;
}
.name {
  border: calc(var(--border-base) + 1px) solid var(--color-accent);
  border-radius: var(--radius-base);
  color: var(--color-accent);
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-size: calc(var(--font-base) * 1.6);
  font-weight: var(--weight-bold);
  height: fit-content;
  line-height: calc(var(--font-base) * 1.6);
  max-width: fit-content;
}
.name .inner {
  border: var(--border-base) solid var(--color-bg);
  border-radius: calc(var(--radius-base) / 2);
  margin: -1px;
  padding: 0 calc(var(--border-base) / 2);
  text-transform: uppercase;
  width: fit-content;
}
.info {
  color: var(--color-text);
  font-weight: var(--weight-reg);
  margin-top: calc(var(--unit-base) * 1.6);
}
.info a {
  text-decoration: underline;
}
.info p {
  margin-bottom: var(--unit-base);
}
.links a {
  font-size: calc(var(--font-base) * 1.6);
  margin-right: var(--unit-base);
}
.plant {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  right: 15%;
  width: fit-content;
  z-index: -100;
}
.flower {
  background: var(--color-flower);
  border-radius: 1rem;
  height: 1.8rem;
  width: 8rem;
}
.stem {
  height: 12rem;
  width: 1rem;
}
.leaf--tip,
.leaf--body,
.stem {
  background: var(--color-leaf);
}
.leaf--left {
  bottom: 0;
  left: 9.75px;
  position: absolute;
}
.leaf--left .leaf--wrapper .leaf--tip {
  clip-path: circle(50% at 50% 50%);
  height: 2.4rem;
  left: 0.25px;
  margin-bottom: -10px;
  position: absolute;
  top: -1.1rem;
  transform: rotate(-5deg);
  width: 2.08rem;
}
.leaf--left .leaf--wrapper .leaf--body {
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
  height: 6.8rem;
  width: 2.8rem;
}
.leaf--left::after {
  background: var(--color-bg);
  bottom: 0;
  content: "";
  height: 100%;
  left: 48%;
  position: absolute;
  transform: rotate(-5.5deg);
  width: 2px;
}
.leaf--right {
  bottom: 0;
  position: absolute;
  right: 7px;
}
.leaf--right .leaf--wrapper .leaf--tip {
  clip-path: circle(50% at 50% 50%);
  height: 2.4rem;
  margin-bottom: -10px;
  position: absolute;
  right: 0;
  top: -1.1rem;
  transform: rotate(5deg);
  width: 2.25rem;
}
.leaf--right .leaf--wrapper .leaf--body {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 8rem;
  width: 3rem;
}
.leaf--right::after {
  background: var(--color-bg);
  bottom: 0;
  content: "";
  height: 100%;
  position: absolute;
  right: 48%;
  transform: rotate(5.5deg);
  width: 2px;
}
